/* h1 { */
/*     text-align: center; */
/*     border-bottom: 1px solid #eaecef; */
/*     padding-bottom: .3em; */
/* } */
/*  */
/* h2 { */
/*     border-bottom: 1px solid #eaecef; */
/*     padding-top: .3em; */
/*     padding-bottom: .3em; */
/*     padding-left: .5em; */
/*     margin-right: 1em; */
/*     margin-left: .2em; */
/*     background-color: lavender; */
/* } */
/* th, td { */
/*     border-bottom: 1px solid #eaecef; */
/*     padding-left: 1.0em; */
/*     padding-right: 1.0em; */
/*     padding-top: 0.3em; */
/*     padding-bottom: 0.3em; */
/* } */
/* p { */
/*     margin-left:1em; */
/* } */
div.solution:before{
    content: "Solution";
    font-family: monospace;
    display: block;
    height: 2em;
    font-size: 150%;
}
div.solution {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
    background-color: aliceblue;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: limegreen; */
    border-radius: 0.2em;
}
div.instructor:before{
    content: "Instructor Notes";
    font-family: monospace;
    display: block;
    height: 2em;
    font-size: 150%;
}
div.instructor {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
    background-color: whitesmoke;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: black; */
    border-radius: 0.2em;
}
